<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppDbContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Teste;Integrated Security=SSPI;AttachDBFilename=D:\Encomendas.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>